<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565795306919-7c4v8abdnaq30dd9f0s338tsjrc4rhrv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565795306919-7c4v8abdnaq30dd9f0s338tsjrc4rhrv</string>
	<key>API_KEY</key>
	<string>AIzaSyAECYr3uGoXnDLU_wfYphnKuvxri6AfN9g</string>
	<key>GCM_SENDER_ID</key>
	<string>565795306919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.rubentalstra.pterodactyl</string>
	<key>PROJECT_ID</key>
	<string>pterodactyl-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pterodactyl-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565795306919:ios:f3d6ac38704170ba</string>
	<key>DATABASE_URL</key>
	<string>https://pterodactyl-app.firebaseio.com</string>
</dict>
</plist>